<<<<<<< HEAD
@import "2-header.css";
@import "2-footer.css";
body {
    margin: 0px;
    padding: 0px; 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;
    font-color:#484848;
    font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
    margin: 0;
    line-height: 60px;
    text-align: center;

=======
body {
	padding: 0;
	margin: 0;
}
>>>>>>> 8ebf7294f4b397c111d3ca0bfe6f03f6f853d3a2
