
body {
    margin: 0px;
    padding: 0px; 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;
    font-color:#484848;
    font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

div {
    margin: 0;
    line-height: 60px;
    text-align: center;

