header {
<<<<<<< HEAD
    background-color: #FF0000; 
    height: 70px; 
    width: 100%;
}
=======
	background-color: #FF0000;
	height: 70px;
	width: 100%;
}
>>>>>>> 8ebf7294f4b397c111d3ca0bfe6f03f6f853d3a2
