body {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	vertical-align: middle;
	display: flex;
}
p {
	text-align: center;
	vertical-align: middle;
	color: #484848;

}
div{
	flex: 1 0 auto;
}