header {
<<<<<<< HEAD
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
}

header div {
    height: 60px;
    width: 150px;
    margin-left: 20px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
=======
	background-color: white;
	height: 70px;
	width: 100%;
	border-top: 1px, #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
>>>>>>> 8ebf7294f4b397c111d3ca0bfe6f03f6f853d3a2
}
