header {
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
}

header div {
    height: 60px;
    width: 150px;
    margin-left: 20px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
