html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-family: circular, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
    position: relative;
   display: flex;
   flex-flow: column nowrap;

} 
.container {
    width: 100%;
    margin: 30px auto;
    max-width: 1000px;
    flex: 1 0 auto;
    position: relative;
}
p {
    text-align: center;
    vertical-align: middle;
}